.point:hover{
  fill: olivedrab;
  opacity: 0.8;
  /* r: 5; */
}

.point {
  fill: olive;
}

.axis {
  fill: #222;
}

.grid {
  opacity: .2;
}

path { 
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
#chart{
  width: 100%;
  min-height: 80vh;
  position: relative;
}
#select-div{
  display: flex;
  justify-content: flex-end;
}
body {
  background: url("/green_cup.png");
  /* color: #eee; */
  font-family: "Pacifico";
}

h1 {
  font-size: 5rem;
  font-weight: 1;

}

h3 {
  font-weight: 1;
  float: right;
}

select, button {
  font-family: Roboto;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
}

button {
  background: linear-gradient(to right, olive, olivedrab);
  color: #eee;
  border-style: none;
}

button:hover{
  background: linear-gradient(to right, olivedrab, olive);
  cursor: pointer;
}

#update-button{
  display: none;
}

select{
  width: 22.2%;
}

.tooltip {
  position: absolute;
  padding: 5px;
  border-radius: 3px;
  background: linear-gradient(to right, olive, olivedrab);
  color: #eee;
  /* font-weight: 1; */
  font-family: Roboto;
  /* fill: red; */
  /* color: red; */
  /* z-index: 9999; */
}

@media only screen and (max-width: 992px){
  select{
    width: 66.7%;
    float: right;
  }
  #select-div{
    display: block;
  }
}